### Chapter 03 데이터 정제하기
#### 03-1 불필요한 데이터 삭제하기
---

In [1]:
#!pip install gdown
import pandas as pd 
import gdown  ## Google Drive file download PKG
gdown.download('https://bit.ly/3RhoNho', 'data/ns_202104.csv', quiet=False)
ns_df = pd.read_csv('data/ns_202104.csv', low_memory =False)

print(ns_df.shape)
ns_df.head()

Requirement already satisfied: gdown in c:\users\seoyeon\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: filelock in c:\users\seoyeon\anaconda3\lib\site-packages (from gdown) (3.0.12)
Requirement already satisfied: requests[socks] in c:\users\seoyeon\anaconda3\lib\site-packages (from gdown) (2.25.1)
Requirement already satisfied: six in c:\users\seoyeon\anaconda3\lib\site-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in c:\users\seoyeon\anaconda3\lib\site-packages (from gdown) (4.59.0)
Requirement already satisfied: beautifulsoup4 in c:\users\seoyeon\anaconda3\lib\site-packages (from gdown) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\seoyeon\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.2.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\seoyeon\anaconda3\lib\site-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\seoyeon\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\seoyeon\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\seoyeon\anaconda3\lib\site-packages (from requests[socks]->gdown) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\seoyeon\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)

Downloading...
From: https://bit.ly/3RhoNho
To: D:\YB_data\Git-Study\35.HonGong_analysis\data\ns_202104.csv
100%|█████████████████████████████████████████████████████████████████████████████| 57.6M/57.6M [00:11<00:00, 4.80MB/s]

(401682, 14)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

In [2]:
## 마지막 컬럼 제외 
ns_book = ns_df.iloc[:, :-1]
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
## drop()을 사용하여 불필요한 컬럼 제거 
ns_book = ns_df.drop(['세트 ISBN', '부가기호', '권', '주제분류번호', 'Unnamed: 13'], axis = 1)
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,1,0,2021-03-19

In [4]:
## dropna()를 사용하여 NaN값이 포함된 컬럼 제거 
## how='all'을 지정하면 컬럼의 모든값이 NaN인 경우만 제거, 지정하지 않았을때는 NaN이 하나라도 존재하면 해당컬럼을 제거한다. 
ns_book = ns_df.dropna(axis=1)
ns_book.head()

   번호           ISBN  도서권수  대출건수        등록일자
0   1  9788937444319     1     0  2021-03-19
1   2  9791190123969     1     0  2021-03-19
2   3  9788968332982     1     0  2021-03-19
3   4  9788970759906     1     0  2021-03-19
4   5  9788934990833     1     0  2021-03-19

In [5]:
ns_book = ns_df.dropna(axis=1, how = 'all')
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [6]:
## 특정 출판사의 책들만 추출 
ns_book2 = ns_df[ns_df['출판사'] == '한빛미디어']
print(ns_book2.shape)
ns_book2.head()

(1000, 14)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
60,61,(맛있는 디자인)프리미어 프로 CC: 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원,심수진,윤성우,김덕영 지음",한빛미디어,2021,9791162244029,NaN,1,2021,005.567,1,1,2021-03-15,NaN
70,71,처음 배우는 애저 (Azure Portal로 배우는 애저 도입부터 활용까지),김도균,한빛미디어,2020,9791162243695,NaN,NaN,NaN,005.74,1,1,2021-03-15,NaN
88,89,맛있는 디자인 프리미어 프로 CC 2021 - 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원, 심수진, 윤성우, 김덕영 (지은이)",한빛미디어,2021,9791162244029,NaN,NaN,NaN,NaN,0,0,2021-03-15,NaN
156,157,"실전 보고서 작성 기술 with 파워포인트, 워드, 한글",홍장표 지음,한빛미디어,2020,9791162243763,NaN,NaN,NaN,NaN,1,0,2021-03-12,NaN
198,199,처음 배우는 리액트 네이티브,김범준 지음,한빛미디어,2021,9791162243879,NaN,NaN,NaN,NaN,1,0,2021-03-12,NaN

In [7]:
## 대출 1000건 이상만 추출 
ns_book2 = ns_df[ns_df['대출건수'] >= 1000]
print(ns_book2.shape)
ns_book2.head()

(2, 14)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
94781,94782,"사피엔스 :유인원에서 사이보그까지, 인간 역사의 대담하고 위대한 질문",유발 하라리 지음 ;조현욱 옮김,김영사,2016,9788934972464,NaN,NaN,NaN,909,30,1468,2016-04-22,NaN
346944,346945,해커스 토익:Listening,David Cho 지음,해커스어학연구소,2005,9788990700148,NaN,1,NaN,740.77,29,1065,2005-02-01,NaN

In [8]:
## duplicated()를 사용하여 중복 데이터 확인 
sum(ns_book.duplicated())

0

In [9]:
## id기준으로는 중복이 없음, 도서명/저자/ISBN이 동일한 책들이 몇권이나 되는지 알아보자 
sum(ns_book.duplicated(subset = ['도서명', '저자', 'ISBN']))

22096

In [10]:
## - 중복이 있으면 처음과 마지막 값 중 무엇을 남길 것인가? : keep = 'first', 'last', False
## - 중복값 처리(unique한 1개의 key만 남기고 나머지 중복은 제거) : DataFrame.drop_duplicates()
ns_book3 = ns_book[ns_book.duplicated(subset = ['도서명', '저자', 'ISBN'], keep=False)]
ns_book3

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
109,110,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,9788970129808,0,1,843.6,1,0,2021-03-12
110,111,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129822,9788970129808,0,2,843.6,1,0,2021-03-12
111,112,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,0,NaN,813.7,1,0,2021-03-12
112,113,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,0,NaN,813.7,1,1,2021-03-12
113,114,스토너,존 윌리엄스 지음 ;김승욱 옮김,RHK(알에이치코리아),2021,9788925538297,NaN,0,NaN,843.5,1,0,2021-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401672,401673,"미애와 루이, 318일간의 버스여행",최미애 글;장 루이 볼프 사진,자인,2003,9788989276210,9788989276210,0,1,980.24,0,0,1970-01-01
401674,401675,음악이 있는 풍경,김정환 지음,이론과 실천,1998,9788931370010,9788931370027,NaN,2,670.4,1,0,1970-01-01
401675,401676,시귀,오노 후유미 지음;임희선 옮김,들녘,1999,9788975271366,9788975271335,(,3,833.6,0,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589,NaN,2,813.6,1,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092,0,1,814.6,0,0,1970-01-01

---
- 인기도서 예측을 위해, 각 도서별로 대출건수를 합친다. 
1) 필요한 컬럼만 추출 
2) 중복처리를 위해 groupby() 사용
3) 주의 : 도서명, 저자 등에 NaN값 존재를 고려해야 함 (dropna = False)
---

In [11]:
count_df = ns_book[['도서명', '저자', 'ISBN', '권', '대출건수']]
loan_cnt = count_df.groupby(by=['도서명', '저자', 'ISBN', '권'], dropna = False).sum()

print(loan_cnt.shape)
loan_cnt.head()

(384591, 1)

                                                                                            대출건수
도서명                                             저자                       ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                   9788955025637 NaN    38
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김 9788992924146 NaN    10
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                9788993466089 NaN     4
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음               9788971728000 NaN     3
 ,에게                                            이기린(이진희)                 9791196137014 NaN     0

--- 
- 원본데이터에 대출건수 업데이트 하기 
1. 원본데이터의 중복처리 --> 고유한 행만 추출
2. 원본과 대출건수 데이터프레임의 인덱스 일치시키기 
3. update() 사용 
---

In [12]:
## duplicated()로 중복된 행이 True 값을 가짐 --> ~로 반전시켜 고유한 행을 True로 변경 
dup_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN', '권'])
unique_rows = ~dup_rows 
ns_book3 = ns_book[unique_rows].copy()

sum(ns_book3.duplicated(subset=['도서명', '저자', 'ISBN', '권']))

0

In [14]:
## set_index()로 두 데이터의 인덱스를 일치시킨다. 
ns_book3.set_index(['도서명', '저자', 'ISBN', '권'], inplace = True)
ns_book3.head()

,,,,번호,출판사,발행년도,세트 ISBN,부가기호,주제분류번호,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,,,
인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,NaN,NaN,1,0,2021-03-19
가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,NaN,NaN,1,0,2021-03-19
나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,NaN,NaN,1,0,2021-03-19
예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,NaN,NaN,1,0,2021-03-19
김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,NaN,NaN,1,0,2021-03-19

In [15]:
## update()를 사용한다. 
ns_book3.update(loan_cnt)
ns_book3.head()

,,,,번호,출판사,발행년도,세트 ISBN,부가기호,주제분류번호,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,,,
인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,NaN,NaN,1,0.0,2021-03-19
가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,NaN,NaN,1,0.0,2021-03-19
나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,NaN,NaN,1,0.0,2021-03-19
예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,NaN,NaN,1,0.0,2021-03-19
김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,NaN,NaN,1,0.0,2021-03-19

In [16]:
## reset_index()로 인덱스 재설정 
ns_book4 = ns_book3.reset_index()
ns_book4.head()

,도서명,저자,ISBN,권,번호,출판사,발행년도,세트 ISBN,부가기호,주제분류번호,도서권수,대출건수,등록일자
0,인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,NaN,NaN,1,0.0,2021-03-19
1,가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,NaN,NaN,1,0.0,2021-03-19
2,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,NaN,NaN,1,0.0,2021-03-19
3,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,NaN,NaN,1,0.0,2021-03-19
4,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,NaN,NaN,1,0.0,2021-03-19

In [18]:
print('원본의 대출 100회이상 책 =', sum(ns_book['대출건수'] > 100))
print('중복처리후 대출 100회이상 책 =', sum(ns_book4['대출건수'] > 100))

원본의 대출 100회이상 책 = 2311
중복처리후 대출 100회이상 책 = 2550

- 중복처리를 통해 같은 책이 2번이상 나올 경우, 각각의 대출건수를 합한 값을 각 행에 할당해 주었기 때문에 숫자가 늘어났다.

In [22]:
## ns_book4를 원본데이터의 컬럼순서와 똑같게 수정한 후, csv로 저장 
ns_book4 = ns_book4[ns_book.columns]
ns_book4.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

In [23]:
ns_book4.to_csv('data/ns_book4.csv', index = False)

---
### 이상의 내용을 함수로 만들자

In [27]:
def data_cleaning(filename): 
    ns_df = pd.read_csv(filename, low_memory = False)
    ns_book = ns_df.dropna(axis = 1, how='all') ## 전체가 NaN인 컬럼은 제외 
    ## 중복을 고려하여, 책의 대출건수 구하기 
    count_df = ns_book[['도서명','저자','ISBN','권','대출건수']]
    loan_cnt = count_df.groupby(by=['도서명','저자','ISBN','권'], dropna=False).sum()
    ## 원본에서 중복제외 -> 고유한 행만 구하기 
    dup_rows = ns_book.duplicated(subset=['도서명','저자','ISBN','권'])
    unique_rows = ~dup_rows
    ns_book3 = ns_book[unique_rows].copy()
    ## 원본에 인덱스 설정 (업데이트할 대상의 인덱스와 일치)
    ns_book3.set_index(['도서명','저자','ISBN','권'], inplace = True)
    ns_book3.update(loan_cnt)
    ## 인덱스 재설정하고, 컬럼순서 원위치 
    ns_book4 = ns_book3.reset_index()
    ns_book4 = ns_book4[ns_book.columns]
    
    return ns_book4

In [28]:
## 함수 실행 확인
new_ns_book = data_cleaning('data/ns_202104.csv')
print(new_ns_book.shape)
new_ns_book.head()

(384591, 13)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19