## 3장. 내장 자료구조, 함수, 파일

In [4]:
tup_1 = 4, 5, 6 
tup_2 = (4,6,7), (7, 9) 
print(tup_1, tup_2)       ## 일반 튜플과 중첩된 튜플

(4, 5, 6) ((4, 6, 7), (7, 9))

In [6]:
tup_3 = ('foo', [1, 2], True)
tup_3[1].append(3)         ## 1번째 객체에 3을 추가하라. 
tup_3                      ## 튜플은 원래 수정이 불가하나, [1, 2]는 튜플내 오브젝트인 특수한 경우라 수정 가능했다.

('foo', [1, 2, 3], True)

In [10]:
(4, None, 'foo') + (6, 0) + ('Bar', 'Shop')   ## 튜플도 연산 가능하다.

(4, None, 'foo', 6, 0, 'Bar', 'Shop')

In [13]:
a, b = 1, 2 
# print(a, b) = 1, 2
b, a = a, b             ## a, b를 서로 바꿈 
print(a,b)

2 1

In [18]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq : 
    print('a={0}, b={1}, c={2}'.format(a, b, c))   ## 각 0, 1, 2번째 값을 a, b, c에 할당하라.

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
a = (1, 2, 2, 2, 3, 2, 4, 2)
a.count(2)    # a에서 2가 몇개 있는지 알려준다.

5

In [22]:
b_list = ['foo', 'peekaboo', 'baz', 'dwarf']
b_list.append('red')    ## append로 덧붙이기 
b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'red']

In [24]:
b_list.insert(1, 'black')   ## insert로 특정위치에 삽입 
b_list

['foo', 'black', 'black', 'peekaboo', 'baz', 'dwarf', 'red']

In [25]:
b_list.pop(2)    # pop로 두번째 값을 제거 
b_list

['foo', 'black', 'peekaboo', 'baz', 'dwarf', 'red']

In [26]:
b_list.remove('foo')  # 값을 제거함, 1개 이상일 경우 앞의 것을 지운다. 
b_list

['black', 'peekaboo', 'baz', 'dwarf', 'red']

In [1]:
x = [4, None, 'foo']
y = [7, 8, (2, 3)] 
# x + y와 x.extend(y)는 결과가 같다. 연산속도는 extend가 좀더 빠르다. 
x.extend(y)
x

[4, None, 'foo', 7, 8, (2, 3)]

In [39]:
a = [7, 2, 5, 1, 3]
b = ['saw', 'small', 'He', 'Fox', 'six']
c = [4, 2, 5, 8, 2]
a.sort()
b.sort(key=len)  # 길이순으로 정렬하라. 
c.sort(reverse=True)
print(a, b, c)

[1, 2, 3, 5, 7] ['He', 'saw', 'Fox', 'six', 'small'] [8, 5, 4, 2, 2]

In [5]:
## sort는 리스트 함수에만 사용할 수 있지만, sorted는 어디나 적용된다. 
## 문장을 공백 기준으로 분리하여, 알파벳 순서대로 정렬하기 예제 
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [12]:
## Slicing (1) 
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [7]:
seq[1:5]  # 1번째 부터 5번째 전까지만 추출 (마지막은 불포함한다)

[2, 3, 7, 5]

In [13]:
seq[3:4] = [6, 3]  #3~4번에 해당하는 7을 6,3으로 대체
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [19]:
## Slicing (2) 
seq = [7, 2, 3, 4, 5, 6, 0, 1]

In [20]:
seq[:5] #인덱스의 start/end를 생략하면 처음 또는 마지막으로 간주 )

[7, 2, 3, 4, 5]

In [21]:
seq[3:]

[4, 5, 6, 0, 1]

In [22]:
seq[-4:]  #음수도 사용 가능, 이때는 맨 우측이 -1

[5, 6, 0, 1]

In [23]:
seq[::2]  #2개씩 건너뛰기

[7, 3, 5, 0]

In [24]:
seq[::-1] #뒤집기

[1, 0, 6, 5, 4, 3, 2, 7]

In [29]:
# enumerate 함수는 튜플/리스트의 인덱스를 쉽게 가져다 준다. 
some_list = ["USA", "UK", "Germany", "Japan", "China", "Thai"]
mapping = {}

for i, v in enumerate(some_list) : 
    mapping[v] = i 

print(mapping)

{'USA': 0, 'UK': 1, 'Germany': 2, 'Japan': 3, 'China': 4, 'Thai': 5}

In [30]:
# sorted 함수: 값을 정렬한다. 
a = sorted([7, 1, 2, 6, 0, 3, 0])
b = sorted('Christmas Tree')     # 공백 > 대문자 알파벳순 > 소문자 알파벳순으로 정렬 
print(a, b)

[0, 0, 1, 2, 3, 6, 7] [' ', 'C', 'T', 'a', 'e', 'e', 'h', 'i', 'm', 'r', 'r', 's', 's', 't']

In [35]:
#Zip 함수: 여러개의 튜플/리스트를 짝지운다. 
continent = ["America", "Europe", "Europe", "Asia", "Asia", "Asia"] 
nation = ["USA", "UK", "Germany", "Japan", "China", "Thai"]
city = ["Washington", "London", "Berlin", "Tokyo", "Beijing", "Bangkok"]
list(zip(continent, nation, city))

[('America', 'USA', 'Washington'),
 ('Europe', 'UK', 'London'),
 ('Europe', 'Germany', 'Berlin'),
 ('Asia', 'Japan', 'Tokyo'),
 ('Asia', 'China', 'Beijing'),
 ('Asia', 'Thai', 'Bangkok')]

In [39]:
#reversed 함수: 역순으로 바꾼다. 
list(range(10))  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
#dict(사전): key-value를 묶어서 저장한다. 
dict_1 = {'a':'some value', 'b':'[1,2,3,4]'}   # ex. a라는 키값에 some value라는 값을 지정한다.

In [51]:
dict_1['c'] = 'new value'   # ex. 새로운 키값 c를 생성하고 new value라는 값을 지정한다.
dict_1

{'a': 'some value', 'b': '[1,2,3,4]', 'c': 'new value'}

In [52]:
dict_1['b']   # 사전에서 b를 찾아서 어떤 값인지 알려준다.

'[1,2,3,4]'

In [53]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [1]:
# 집합(set)은 {}로 표현하며, {}안의 중복된 값은 자동으로 제거한다. 
{2,2,2,1,3,3}

{1, 2, 3}

In [6]:
# 집합의 연산 ~ (1) a | b : 합집합, (2) a & b : 교집합, (3) a-c : 차집합
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

#a | b   ## --> {1, 2, 3, 4, 5, 6, 7, 8}
#a & b   ## --> {3, 4, 5}
(a | b) - a     ## --> {6, 7, 8}

{6, 7, 8}

In [8]:
# 함수는 def로 정의하고, return으로 값을 반환한다. 
def my_function(x, y, z) : 
    if z > 1 : 
        return z*(x+y) 
    else : 
        return z/(x+y) 

my_function(5, 6, 0.8)

0.07272727272727274

In [1]:
# 하나의 함수가 여러개의 값을 반환할 수 있다. 
def f1() : 
    a = 11 
    b = 25
    c = 35
    return a, b, c 

a, b, c = f1()
f1()

(11, 25, 35)

In [5]:
# 문자열 데이터 전처리 
states = ['Alabama', 'Georgia!', 'Geogia', 'geogia', 'FlOrIda','southcarolina##', 'West virginia?' ]

import re    # re: regular expression 

def clean_strings(strings): 
    result = []
    for value in strings : 
        value = value.strip()     ##공백제거 
        value = value.title()     ##첫 글자만 대문자로 
        value = re.sub('[!#?]', '', value)   ##특수문자 제거 
        result.append(value)
    return result

In [6]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Geogia',
 'Geogia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [11]:
# error 입력 시 함수변환 제외하고 원래의 값 출력 
def attempt_float(x) : 
    try: 
        return float(x) 
    except: 
        return x      

attempt_float ('1.2354')   ## --> 1.2354

1.2354

In [10]:
#float('some')
attempt_float ('some')      ## --> some 
########### 'some'을 실수(float)으로 변환할 수 없으므로 에러가 출력되어야 하나, 함수의 try/except 조건에 의해 원래의 값을 출력하였음

'some'