### Part III.7 판다스를 사용한 엑셀 파일 조작

In [6]:
import numpy as np
import pandas as pd

### <u> 1. 엑셀파일 읽어오기 </u>
- read_excel

In [9]:
## 읽어올 대상 시트와 범위를지정한다 
df = pd.read_excel('python-for-excel-1st-edition/xl/stores.xls', 
                   sheet_name = '2019', skiprows = 1, usecols = 'B:F')
df

           Store  Employees    Manager      Since Flagship
0       New York         10      Sarah 2018-07-20    False
1  San Francisco         12     Neriah 2019-11-02  MISSING
2        Chicago          4    Katelin 2020-01-31      NaN
3         Boston          5  Georgiana 2017-04-01     True
4  Washington DC          3       Evan        NaT    False
5      Las Vegas         11       Paul 2020-01-06    False

In [13]:
## url로 부터 파일 읽어오기 
url = "https://raw.githubusercontent.com/fzumstein/python-for-excel/1st-edition/xl/stores.xlsx" 

df_url = pd.read_excel(url, skiprows = 1, usecols = 'B:E', nrows = 10)
df_url

           Store  Employees    Manager      Since
0       New York         10      Sarah 2018-07-20
1  San Francisco         12     Neriah 2019-11-02
2        Chicago          4    Katelin 2020-01-31
3         Boston          5  Georgiana 2017-04-01
4  Washington DC          3       Evan        NaT
5      Las Vegas         11       Paul 2020-01-06

### <u> 2. 엑셀파일 쓰기 </u>
- to_excel

In [15]:
import datetime as dt

In [16]:
data = [ [dt.datetime(2020, 1, 1, 10, 13), 2.2222, 1, True],
         [dt.datetime(2020, 1, 2), np.nan, 2, False],
         [dt.datetime(2020, 1, 2), np.inf, 3, True]  ]

data

[[datetime.datetime(2020, 1, 1, 10, 13), 2.2222, 1, True],
 [datetime.datetime(2020, 1, 2, 0, 0), nan, 2, False],
 [datetime.datetime(2020, 1, 2, 0, 0), inf, 3, True]]

In [17]:
df = pd.DataFrame(data = data, columns = ['Dates', 'Floats', "Intergers", 'Boolean'])
df.index.name = 'Index'
df

                    Dates  Floats  Intergers  Boolean
Index
0     2020-01-01 10:13:00  2.2222          1     True
1     2020-01-02 00:00:00     NaN          2    False
2     2020-01-02 00:00:00     inf          3     True

In [23]:
## 데이터 프레임을 엑셀파일로 내보내기, 시트이름과 시작 셀 위치 및 인덱스, 헤더 유무 지정 
df.to_excel('written_with_pandas.xlsx', 
            sheet_name = 'output', startrow = 1, startcol = 1, index = True, header = True)

In [26]:
## 여러개의 데이터 프레임을 엑셀파일로 내보내기 
with pd.ExcelWriter('written_with_pandas2.xlsx') as writer : 
    df.to_excel(writer,sheet_name = 'One', startrow = 1, startcol = 1)
    df.to_excel(writer,sheet_name = 'One', startrow = 10, startcol = 1)
    df.to_excel(writer,sheet_name = 'Two')

In [27]:
############################################################################################################

### Part III.8 리더와 라이터 패키지를 이용한 엑셀파일 조작 
- 판다스의 기본 엔진은 XlsxWriter이다. 
- OpenPyXL은 읽기, 쓰기 모두 지원한다. 사용하려면 엔진옵션에 지정해 준다. 
- <i> ex> df.to_excel('data.xlsx', engien = 'openpyxl') </i>

#### <u> 1. OpenPyXL로 읽기 </u>

In [45]:
# !pip install excel
import excel 
import openpyxl

In [73]:
df_book = openpyxl.load_workbook('python-for-excel-1st-edition/xl/stores.xlsx', data_only = True)
print(df_book)
df_book.save('temp.xlsx')

<openpyxl.workbook.workbook.Workbook object at 0x00000234D10F2B20>

#### <u> 2. OpenPyXL로 쓰기 </u>

In [57]:
import excel
import openpyxl
from openpyxl.drawing.image import Image
from openpyxl.chart import BarChart, Reference
from openpyxl.styles import Font, colors
from openpyxl.styles.borders import Border, Side
from openpyxl.styles.alignment import Alignment
from openpyxl.styles.fills import PatternFill

In [76]:
# Instantiate a workbook
book = openpyxl.Workbook()

# Get the first sheet and give it a name
sheet = book.active
sheet.title = "Sheet1"

# Writing individual cells using A1 notation
# and cell indices (1-based)
sheet["A1"].value = "Hello 1"
sheet.cell(row=2, column=1, value="Hello 2")

# Formatting: fill color, alignment, border and font
font_format = Font(color="FF0000", bold=True)
thin = Side(border_style="thin", color="FF0000")
sheet["A3"].value = "Hello 3"
sheet["A3"].font = font_format
sheet["A3"].border = Border(top=thin, left=thin,
                            right=thin, bottom=thin)
sheet["A3"].alignment = Alignment(horizontal="center")
sheet["A3"].fill = PatternFill(fgColor="FFFF00", fill_type="solid")

# Number formatting (using Excel's formatting strings)
sheet["A4"].value = 3.3333
sheet["A4"].number_format = "0.00"

# Date formatting (using Excel's formatting strings)
sheet["A5"].value = dt.date(2016, 10, 13)
sheet["A5"].number_format = "mm/dd/yy"

# Formula: you must use the English name of the formula
# with commas as delimiters
sheet["A6"].value = "=SUM(A4, 2)"

# Image
sheet.add_image(Image("python-for-excel-1st-edition/images/python.png"), "C1")

# Two-dimensional list (we're using our excel module)
data = [[None, "North", "South"],
        ["Last Year", 2, 5],
        ["This Year", 3, 6]]

##### excel.write(sheet, data, "A10")
sheet['B10'].value = 'North'
sheet['C10'].value = 'South'
sheet['A11'].value = 'Last Year'
sheet['A12'].value = 'This Year'
sheet['B11'].value = 2
sheet['C11'].value = 5
sheet['B12'].value = 3
sheet['C12'].value = 6




# Chart
chart = BarChart()
chart.type = "col"
chart.title = "Sales Per Region"
chart.x_axis.title = "Regions"
chart.y_axis.title = "Sales"
chart_data = Reference(sheet, min_row=11, min_col=1,
                       max_row=12, max_col=3)
chart_categories = Reference(sheet, min_row=10, min_col=2,
                             max_row=10, max_col=3)
# from_rows interprets the data in the same way
# as if you would add a chart manually in Excel
chart.add_data(chart_data, titles_from_data=True, from_rows=True)
chart.set_categories(chart_categories)
sheet.add_chart(chart, "A15")

# Saving the workbook creates the file on disk
book.save("openpyxl.xlsx")

In [77]:
book = openpyxl.Workbook()
sheet = book.active
sheet["A1"].value = "This is a template"
book.template = True
book.save("template.xltx")