---
3.0 소개 
- 타이타닉 데이터셋 가져오기
---

In [ ]:
import pandas as pd

In [ ]:
url = 'http://bit.ly/titanic-csv-data'
df = pd.read_csv(url)

print(df.shape)
df.head()

(1313, 6)

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
df.describe()

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

---
3.3 데이터 프레임 탐색하기
- iloc : 데이터 프레임의 위치를 참조 
- loc : 데이터 프레임의 인텍스가 레이블(문자열) 일때 사용
---

In [ ]:
## 첫번째 row 선택
df.iloc[0]

Name        Allen, Miss Elisabeth Walton
PClass                               1st
Age                                   29
Sex                               female
Survived                               1
SexCode                                1
Name: 0, dtype: object

In [ ]:
## 1~4번째 row를 선택 
df.iloc[1:4]

                                            Name PClass  ...  Survived SexCode
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1

[3 rows x 6 columns]

In [ ]:
## 5번째 까지의 row 선택 
df.iloc[:5]

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
## 3~5번째 컬럼 추출
df.iloc[:, 3:5]

         Sex  Survived
0     female         1
1     female         0
2       male         0
3     female         0
4       male         1
...      ...       ...
1308    male         0
1309    male         0
1310    male         0
1311    male         0
1312    male         0

[1313 rows x 2 columns]

In [ ]:
## 컬럼명(변수명)을 기준으로 열단위 데이터 추출하려는 경우 
## 먼저 Name 컬럼을 index로 지정한다. 

df_2 = df.set_index(df['Name'])
df_2.head()

                                                                                        Name  ... SexCode
Name                                                                                          ...
Allen, Miss Elisabeth Walton                                    Allen, Miss Elisabeth Walton  ...       1
Allison, Miss Helen Loraine                                      Allison, Miss Helen Loraine  ...       1
Allison, Mr Hudson Joshua Creighton                      Allison, Mr Hudson Joshua Creighton  ...       0
Allison, Mrs Hudson JC (Bessie Waldo Daniels)  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       1
Allison, Master Hudson Trevor                                  Allison, Master Hudson Trevor  ...       0

[5 rows x 6 columns]

In [ ]:
## 지정한 인덱스까지의 row x 특정컬럼만 추출 
df_2.loc[:'Allison, Mr Hudson Joshua Creighton', 'Age':'Survived']

                                      Age     Sex  Survived
Name
Allen, Miss Elisabeth Walton         29.0  female         1
Allison, Miss Helen Loraine           2.0  female         0
Allison, Mr Hudson Joshua Creighton  30.0    male         0

In [ ]:
## 특정 컬럼만 추출 
df_2[['PClass', 'Age', 'Survived']].head()

                                              PClass    Age  Survived
Name
Allen, Miss Elisabeth Walton                     1st  29.00         1
Allison, Miss Helen Loraine                      1st   2.00         0
Allison, Mr Hudson Joshua Creighton              1st  30.00         0
Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00         0
Allison, Master Hudson Trevor                    1st   0.92         1

---
3.4 조건에 따라 행 선택하기

---

In [ ]:
### filter : Sex = femal 
df[df['Sex'] == 'female'].head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
6               Andrews, Miss Kornelia Theodosia    1st  ...         1       1
8   Appleton, Mrs Edward Dale (Charlotte Lamson)    1st  ...         1       1

[5 rows x 6 columns]

In [ ]:
### 다수의 조건 
df[
   (df['Sex'] == 'female') & (df['Age'] > 60 )
]

                                                   Name  ... SexCode
6                      Andrews, Miss Kornelia Theodosia  ...       1
67    Compton, Mrs Alexander Taylor (Mary Eliza Inge...  ...       1
73    Crosby, Mrs Edward Gifford (Catherine Elizabet...  ...       1
251                 Stone, Mrs George Nelson (Martha E)  ...       1
253                       Straus, Mrs Isidor (Ida Blun)  ...       1
1264                                Turkula, Mrs Hedvig  ...       1

[6 rows x 6 columns]

---
3.5 값 치환하기
- replace를 사용한다 

---

In [ ]:
## Sex 컬럼의 famle -> Woman, male -> Man으로 변경
df_3 = df['Sex'].replace(['female', 'male'],['Woman', 'Man'])
df_3.head()

0    Woman
1    Woman
2      Man
3    Woman
4      Man
Name: Sex, dtype: object

In [ ]:
## 전체값에서 1 -> One으로 변경 
df_4 = df.replace(1, 'One')
df_4.head()

                                            Name PClass  ... Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...      One     One
1                    Allison, Miss Helen Loraine    1st  ...        0     One
2            Allison, Mr Hudson Joshua Creighton    1st  ...        0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...        0     One
4                  Allison, Master Hudson Trevor    1st  ...      One       0

[5 rows x 6 columns]

In [ ]:
## 다수의 값을 하나로 바꿀때 
df_5 = df.replace(['male', 'female'], 'person')
df_5.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
## dict의 활용 
df_6 = df.replace({'male': 0, 'female':1})
df_6.head()

                                            Name PClass  ...  Survived  SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1        1
1                    Allison, Miss Helen Loraine    1st  ...         0        1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0        0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0        1
4                  Allison, Master Hudson Trevor    1st  ...         1        0

[5 rows x 6 columns]

---
3.6 컬럼 이름 바꾸기 
- rename 사용, 보통 다수의 컬럼명을 바꾸기 위해서 rename + dict 형태를 사용한다
---

In [ ]:
df.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
df_10 = df.rename(columns = {'PClass':'passenger_class'})
df_10.head()

                                            Name  ... SexCode
0                   Allen, Miss Elisabeth Walton  ...       1
1                    Allison, Miss Helen Loraine  ...       1
2            Allison, Mr Hudson Joshua Creighton  ...       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       1
4                  Allison, Master Hudson Trevor  ...       0

[5 rows x 6 columns]

In [ ]:
df_11 = df.rename(columns = {'PClass':'passenger_class', 'Sex':'gender'})
df_11.head()

                                            Name  ... SexCode
0                   Allen, Miss Elisabeth Walton  ...       1
1                    Allison, Miss Helen Loraine  ...       1
2            Allison, Mr Hudson Joshua Creighton  ...       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       1
4                  Allison, Master Hudson Trevor  ...       0

[5 rows x 6 columns]

In [ ]:
## 컬럼명을 모두 소문자로 변경 
df_12 = df.rename(str.lower, axis = 'columns')
df_12.head()

                                            name pclass  ...  survived sexcode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

---
3.7 통계량 구하기

---

In [ ]:
## 각 컬럼의 갯수를 구할때 
df.count()

Name        1313
PClass      1313
Age          756
Sex         1313
Survived    1313
SexCode     1313
dtype: int64

In [ ]:
print ('Min = ', df['Age'].min())
print ('Max = ', df['Age'].max())
print ('Avg = ', df['Age'].mean())
print ('Sum = ', df['Age'].sum())
print ('Count = ', df['Age'].count())

print ('Var = ', df['Age'].var())
print ('Std = ', df['Age'].std())
print ('Median = ', df['Age'].median())
print ('Mode = ', df['Age'].mode())

print ('Skewness = ', df['Age'].skew())
print ('Kurtness = ', df['Age'].kurt())

Min =  0.17
Max =  71.0
Avg =  30.397989417989415
Sum =  22980.88
Count =  756
Var =  203.32047012439133
Std =  14.259048710359023
Median =  28.0
Mode =  0    22.0
dtype: float64
Skewness =  0.36851087371648295
Kurtness =  -0.036536168924722556

In [ ]:
## 상관계수 행렬 구하기 
df.corr()

               Age  Survived   SexCode
Age       1.000000 -0.061254 -0.055138
Survived -0.061254  1.000000  0.502891
SexCode  -0.055138  0.502891  1.000000

In [ ]:
## 공분산 행렬 구하기 
df.cov()

                 Age  Survived   SexCode
Age       203.320470 -0.430491 -0.382054
Survived   -0.430491  0.225437  0.114070
SexCode    -0.382054  0.114070  0.228230

---
3.8 고유값 찾기
- unique(), value_counts()
---

In [ ]:
df['PClass'].unique()

array(['1st', '2nd', '*', '3rd'], dtype=object)

In [ ]:
df['PClass'].value_counts()

3rd    711
1st    322
2nd    279
*        1
Name: PClass, dtype: int64

In [ ]:
## 모든 컬럼들에 대해서, 각각 몇가지의 unique 값들로 이루어져 있는지 파악할 때 
## 이때 결측치는 계산하지 않는다
df.nunique()

Name        1310
PClass         4
Age           75
Sex            2
Survived       2
SexCode        2
dtype: int64

---
3.9 누락된 값 다루기

---

In [ ]:
## NaN을 사용하려면 넘파이가 필요 
import numpy as np

In [ ]:
df_a = pd.read_csv(url)
print(df_a[456:457])

## 결측값으로 간주할 것들을 지정한다 
df_b = pd.read_csv(url, na_values= [np.nan, 'NONE', -999, '*'])
print(df_b[456:457])

                    Name PClass  Age   Sex  Survived  SexCode
456  Jacobsohn Mr Samuel      *  NaN  male         0        0
                    Name PClass  Age   Sex  Survived  SexCode
456  Jacobsohn Mr Samuel    NaN  NaN  male         0        0

---
3.10 열 삭제하기

---

In [ ]:
df.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [ ]:
df.drop(['PClass', 'Age'], axis = 1).head(2)

                           Name     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton  female         1        1
1   Allison, Miss Helen Loraine  female         0        1

In [ ]:
## 컬럼명이 없는 경우 삭제하려는 컬럼 위치를 직접 지정 
df.drop(df.columns[1:4], axis = 1).head(2)

                           Name  Survived  SexCode
0  Allen, Miss Elisabeth Walton         1        1
1   Allison, Miss Helen Loraine         0        1

---
3.11 행 삭제하기

---

In [ ]:
df.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [ ]:
## 특정 조건에 해당하는 row 삭제 
df[df['Sex'] != 'male' ].head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [ ]:
## 삭제하려는 row의 위치를 직접 지정 
df.drop([1,3,5],axis = 0).head(10)

                                                Name PClass  ...  Survived SexCode
0                       Allen, Miss Elisabeth Walton    1st  ...         1       1
2                Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
4                      Allison, Master Hudson Trevor    1st  ...         1       0
6                   Andrews, Miss Kornelia Theodosia    1st  ...         1       1
7                             Andrews, Mr Thomas, jr    1st  ...         0       0
8       Appleton, Mrs Edward Dale (Charlotte Lamson)    1st  ...         1       1
9                             Artagaveytia, Mr Ramon    1st  ...         0       0
10                         Astor, Colonel John Jacob    1st  ...         0       0
11  Astor, Mrs John Jacob (Madeleine Talmadge Force)    1st  ...         1       1
12                      Aubert, Mrs Leontine Pauline    1st  ...         1       1

[10 rows x 6 columns]

--- 
3.12 중복된 행 삭제하기 

---

In [ ]:
df.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [ ]:
## 모든 컬럼이 동일한 row를 삭제하려면 drop_duplicates()를 사용
df.drop_duplicates().head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
## 일부 컬럼이 동일한 행을 삭제하려면 subset 사용 
df.drop_duplicates(subset = ['Sex'])

                                  Name PClass   Age     Sex  Survived  SexCode
0         Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
2  Allison, Mr Hudson Joshua Creighton    1st  30.0    male         0        0

--- 
3.13 값에 따라 행을 그룹핑하기 

---

In [ ]:
df.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
df.groupby('Sex').mean()

              Age  Survived  SexCode
Sex
female  29.396424  0.666667      1.0
male    31.014338  0.166863      0.0

In [ ]:
df.groupby('Survived')['Name'].count()

Survived
0    863
1    450
Name: Name, dtype: int64

In [ ]:
df.groupby(['Survived', 'Sex'])['Age'].mean()

Survived  Sex
0         female    24.901408
          male      32.320780
1         female    30.867143
          male      25.951875
Name: Age, dtype: float64

--- 
3.14 시간에 따라 행을 그룹핑하기 

---

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
time_index = pd.date_range('01/01/2022', periods = 100000, freq = '30s')
df = pd.DataFrame(index = time_index)
df['Sales_Amoumt'] = np.random.randint(1,10,100000)

print(df.shape)
df.head()

(100000, 1)

                     Sales_Amoumt
2022-01-01 00:00:00             8
2022-01-01 00:00:30             2
2022-01-01 00:01:00             3
2022-01-01 00:01:30             1
2022-01-01 00:02:00             7

In [ ]:
## 주단위 그룹핑 하여 합계 계산 
df.resample('W').sum()

            Sales_Amoumt
2022-01-02         29145
2022-01-09        101383
2022-01-16        100774
2022-01-23        100516
2022-01-30        100720
2022-02-06         68124

In [ ]:
## 2주단위 그룹핑 
df.resample('2W').sum()

            Sales_Amoumt
2022-01-02         29145
2022-01-16        202157
2022-01-30        201236
2022-02-13         68124

In [ ]:
## 월단위 그룹핑 
df.resample('M').count()

            Sales_Amoumt
2022-01-31         89280
2022-02-28         10720

In [ ]:
## 월의 첫날을 인덱스로 지정하려면 MS를 사용 
df.resample('MS').count()

            Sales_Amoumt
2022-01-01         89280
2022-02-01         10720

--- 
3.15 열 원소 순회하기 

---

In [ ]:
df = pd.read_csv('http://bit.ly/titanic-csv-data')
df.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
## 이름을 대문자로 변환하기 (처음 10개만)
for name in df['Name'][:10] : 
  print(name.upper())

ALLEN, MISS ELISABETH WALTON
ALLISON, MISS HELEN LORAINE
ALLISON, MR HUDSON JOSHUA CREIGHTON
ALLISON, MRS HUDSON JC (BESSIE WALDO DANIELS)
ALLISON, MASTER HUDSON TREVOR
ANDERSON, MR HARRY
ANDREWS, MISS KORNELIA THEODOSIA
ANDREWS, MR THOMAS, JR
APPLETON, MRS EDWARD DALE (CHARLOTTE LAMSON)
ARTAGAVEYTIA, MR RAMON

--- 
3.16 모든 열 원소에 함수 적용하기 

---

In [ ]:
## 함수를 만들어 적용하는 방법 
def uppercase(x) : 
  return x.upper()

df_new = df['Name'].apply(uppercase)
df_new.head()

0                     ALLEN, MISS ELISABETH WALTON
1                      ALLISON, MISS HELEN LORAINE
2              ALLISON, MR HUDSON JOSHUA CREIGHTON
3    ALLISON, MRS HUDSON JC (BESSIE WALDO DANIELS)
4                    ALLISON, MASTER HUDSON TREVOR
Name: Name, dtype: object

In [ ]:
## map을 사용하여 re-coding 하기 
df['Survived'].map({1: 'Live', 0: 'Dead'}).head()

0    Live
1    Dead
2    Dead
3    Dead
4    Live
Name: Survived, dtype: object

In [ ]:
## 람다 함수 활용하기 - 각 컬럼의 최대값 구하기 
df.apply(lambda x : max(x))

Name        del Carlo, Mrs Sebastiano (Argenia Genovese)
PClass                                               3rd
Age                                                   71
Sex                                                 male
Survived                                               1
SexCode                                                1
dtype: object

In [ ]:
## Name 컬럼의 문자수를 최대 20개까지로 제한하기 
def truncate_string(x): 
  if type(x) == str : 
    return x[:20]

df.applymap(truncate_string).head()

                   Name PClass   Age     Sex Survived SexCode
0  Allen, Miss Elisabet    1st  None  female     None    None
1  Allison, Miss Helen     1st  None  female     None    None
2  Allison, Mr Hudson J    1st  None    male     None    None
3  Allison, Mrs Hudson     1st  None  female     None    None
4  Allison, Master Huds    1st  None    male     None    None

In [ ]:
## 참고. 함수와 apply를 사용하여 Sex 컬럼을 re-coding 하기  
def sex_trans(x) : 
  if x == 'male': 
    return 0 
  return 1 

df['Sex'] = df['Sex'].apply(sex_trans)
df.head()

                                            Name PClass  ...  Survived  SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1        1
1                    Allison, Miss Helen Loraine    1st  ...         0        1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0        0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0        1
4                  Allison, Master Hudson Trevor    1st  ...         1        0

[5 rows x 6 columns]

--- 
3.17 그룹에 함수 적용하기 

---

In [ ]:
df = pd.read_csv('http://bit.ly/titanic-csv-data')
df.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [ ]:
df.groupby('Sex').apply(lambda x: x.count())

        Name  PClass  Age  Sex  Survived  SexCode
Sex
female   462     462  288  462       462      462
male     851     851  468  851       851      851

In [ ]:
df.groupby('PClass').apply(lambda x: x.count())

        Name  PClass  Age  Sex  Survived  SexCode
PClass
*          1       1    0    1         1        1
1st      322     322  226  322       322      322
2nd      279     279  212  279       279      279
3rd      711     711  318  711       711      711

--- 
3.18 데이터 프레임 연결하기 

---

In [ ]:
## 2개의 데이터 프레임을 만들고, concat (axis = 0)를 사용하여 병합하기 
data_a = {
    'id': ['1','2','3'], 
    'first' : ['alex', 'amy', 'allen'], 
    'last' : ['anderson', 'ackerman', 'ali']
}

df_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])


data_b = {
    'id': ['4','5','6'], 
    'first' : ['billy', 'brian', 'bran'], 
    'last' : ['bons', 'black', 'brown']
}

df_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])

In [ ]:
print(df_a, '\n', '\n' ,df_b)

  id  first      last
0  1   alex  anderson
1  2    amy  ackerman
2  3  allen       ali

   id  first   last
0  4  billy   bons
1  5  brian  black
2  6   bran  brown

In [ ]:
df_ab = pd.concat([df_a, df_b], axis = 0)
df_ab

  id  first      last
0  1   alex  anderson
1  2    amy  ackerman
2  3  allen       ali
0  4  billy      bons
1  5  brian     black
2  6   bran     brown

--- 
3.19 데이터 프레임 병합하기 

---

In [113]:
## 컬럼이 다른 2개의 데이터프레임 생성하여 병합하기 
employee_data = {
    'employee_id': ['1', '2', '3', '4'],
    'name': ['Amy Jones', 'Allen Keys', 'Alice Bees', 'Tim Horton'] 
    }

df_employee = pd.DataFrame(employee_data, columns = ['employee_id', 'name'])

sales_data = {
    'employee_id': ['3', '4', '5', '6'],
    'tot_slaes': [23456, 2153, 34334, 29985] 
    }

df_sales = pd.DataFrame(sales_data, columns = ['employee_id', 'tot_slaes'])

In [124]:
print(df_employee, '\n', '\n', df_sales)

  employee_id        name
0           1   Amy Jones
1           2  Allen Keys
2           3  Alice Bees
3           4  Tim Horton

   employee_id  tot_slaes
0           3      23456
1           4       2153
2           5      34334
3           6      29985

In [126]:
## employee_id를 키값으로 하여 레프트 조인하라 
df_tot = pd.merge(df_employee, df_sales, on = 'employee_id', how = 'left')
df_tot

  employee_id        name  tot_slaes
0           1   Amy Jones        NaN
1           2  Allen Keys        NaN
2           3  Alice Bees    23456.0
3           4  Tim Horton     2153.0

In [128]:
## 만약 키 컬럼의 이름이 서로 다른 경우, 따로 지정해줘야 한다. --> 예시 
df_tot2 = pd.merge(df_employee, df_sales, 
                  left_on = 'employee_id',
                  right_on = 'employee_id',
                  how = 'left')
df_tot2

  employee_id        name  tot_slaes
0           1   Amy Jones        NaN
1           2  Allen Keys        NaN
2           3  Alice Bees    23456.0
3           4  Tim Horton     2153.0