---
3.0 소개 
- 타이타닉 데이터셋 가져오기
---

In [1]:
import pandas as pd

In [2]:
url = 'http://bit.ly/titanic-csv-data'
df = pd.read_csv(url)

print(df.shape)
df.head()

(1313, 6)

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [3]:
df.describe()

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

---
3.3 데이터 프레임 탐색하기
- iloc : 데이터 프레임의 위치를 참조 
- loc : 데이터 프레임의 인텍스가 레이블(문자열) 일때 사용
---

In [4]:
## 첫번째 row 선택
df.iloc[0]

Name        Allen, Miss Elisabeth Walton
PClass                               1st
Age                                   29
Sex                               female
Survived                               1
SexCode                                1
Name: 0, dtype: object

In [5]:
## 1~4번째 row를 선택 
df.iloc[1:4]

                                            Name PClass  ...  Survived SexCode
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1

[3 rows x 6 columns]

In [6]:
## 5번째 까지의 row 선택 
df.iloc[:5]

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [7]:
## 3~5번째 컬럼 추출
df.iloc[:, 3:5]

         Sex  Survived
0     female         1
1     female         0
2       male         0
3     female         0
4       male         1
...      ...       ...
1308    male         0
1309    male         0
1310    male         0
1311    male         0
1312    male         0

[1313 rows x 2 columns]

In [8]:
## 컬럼명(변수명)을 기준으로 열단위 데이터 추출하려는 경우 
## 먼저 Name 컬럼을 index로 지정한다. 

df_2 = df.set_index(df['Name'])
df_2.head()

                                                                                        Name  ... SexCode
Name                                                                                          ...
Allen, Miss Elisabeth Walton                                    Allen, Miss Elisabeth Walton  ...       1
Allison, Miss Helen Loraine                                      Allison, Miss Helen Loraine  ...       1
Allison, Mr Hudson Joshua Creighton                      Allison, Mr Hudson Joshua Creighton  ...       0
Allison, Mrs Hudson JC (Bessie Waldo Daniels)  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       1
Allison, Master Hudson Trevor                                  Allison, Master Hudson Trevor  ...       0

[5 rows x 6 columns]

In [9]:
## 지정한 인덱스까지의 row x 특정컬럼만 추출 
df_2.loc[:'Allison, Mr Hudson Joshua Creighton', 'Age':'Survived']

                                      Age     Sex  Survived
Name
Allen, Miss Elisabeth Walton         29.0  female         1
Allison, Miss Helen Loraine           2.0  female         0
Allison, Mr Hudson Joshua Creighton  30.0    male         0

In [10]:
## 특정 컬럼만 추출 
df_2[['PClass', 'Age', 'Survived']].head()

                                              PClass    Age  Survived
Name
Allen, Miss Elisabeth Walton                     1st  29.00         1
Allison, Miss Helen Loraine                      1st   2.00         0
Allison, Mr Hudson Joshua Creighton              1st  30.00         0
Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00         0
Allison, Master Hudson Trevor                    1st   0.92         1

---
3.4 조건에 따라 행 선택하기

---

In [11]:
### filter : Sex = femal 
df[df['Sex'] == 'female'].head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
6               Andrews, Miss Kornelia Theodosia    1st  ...         1       1
8   Appleton, Mrs Edward Dale (Charlotte Lamson)    1st  ...         1       1

[5 rows x 6 columns]

In [12]:
### 다수의 조건 
df[
   (df['Sex'] == 'female') & (df['Age'] > 60 )
]

                                                   Name  ... SexCode
6                      Andrews, Miss Kornelia Theodosia  ...       1
67    Compton, Mrs Alexander Taylor (Mary Eliza Inge...  ...       1
73    Crosby, Mrs Edward Gifford (Catherine Elizabet...  ...       1
251                 Stone, Mrs George Nelson (Martha E)  ...       1
253                       Straus, Mrs Isidor (Ida Blun)  ...       1
1264                                Turkula, Mrs Hedvig  ...       1

[6 rows x 6 columns]

---
3.5 값 치환하기
- replace를 사용한다 

---

In [13]:
## Sex 컬럼의 famle -> Woman, male -> Man으로 변경
df_3 = df['Sex'].replace(['female', 'male'],['Woman', 'Man'])
df_3.head()

0    Woman
1    Woman
2      Man
3    Woman
4      Man
Name: Sex, dtype: object

In [14]:
## 전체값에서 1 -> One으로 변경 
df_4 = df.replace(1, 'One')
df_4.head()

                                            Name PClass  ... Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...      One     One
1                    Allison, Miss Helen Loraine    1st  ...        0     One
2            Allison, Mr Hudson Joshua Creighton    1st  ...        0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...        0     One
4                  Allison, Master Hudson Trevor    1st  ...      One       0

[5 rows x 6 columns]

In [15]:
## 다수의 값을 하나로 바꿀때 
df_5 = df.replace(['male', 'female'], 'person')
df_5.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [16]:
## dict의 활용 
df_6 = df.replace({'male': 0, 'female':1})
df_6.head()

                                            Name PClass  ...  Survived  SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1        1
1                    Allison, Miss Helen Loraine    1st  ...         0        1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0        0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0        1
4                  Allison, Master Hudson Trevor    1st  ...         1        0

[5 rows x 6 columns]

---
3.6 컬럼 이름 바꾸기 
- rename 사용, 보통 다수의 컬럼명을 바꾸기 위해서 rename + dict 형태를 사용한다
---

In [17]:
df.head()

                                            Name PClass  ...  Survived SexCode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

In [18]:
df_10 = df.rename(columns = {'PClass':'passenger_class'})
df_10.head()

                                            Name  ... SexCode
0                   Allen, Miss Elisabeth Walton  ...       1
1                    Allison, Miss Helen Loraine  ...       1
2            Allison, Mr Hudson Joshua Creighton  ...       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       1
4                  Allison, Master Hudson Trevor  ...       0

[5 rows x 6 columns]

In [19]:
df_11 = df.rename(columns = {'PClass':'passenger_class', 'Sex':'gender'})
df_11.head()

                                            Name  ... SexCode
0                   Allen, Miss Elisabeth Walton  ...       1
1                    Allison, Miss Helen Loraine  ...       1
2            Allison, Mr Hudson Joshua Creighton  ...       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...       1
4                  Allison, Master Hudson Trevor  ...       0

[5 rows x 6 columns]

In [20]:
## 컬럼명을 모두 소문자로 변경 
df_12 = df.rename(str.lower, axis = 'columns')
df_12.head()

                                            name pclass  ...  survived sexcode
0                   Allen, Miss Elisabeth Walton    1st  ...         1       1
1                    Allison, Miss Helen Loraine    1st  ...         0       1
2            Allison, Mr Hudson Joshua Creighton    1st  ...         0       0
3  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  ...         0       1
4                  Allison, Master Hudson Trevor    1st  ...         1       0

[5 rows x 6 columns]

---
3.7 통계량 구하기

---

In [21]:
## 각 컬럼의 갯수를 구할때 
df.count()

Name        1313
PClass      1313
Age          756
Sex         1313
Survived    1313
SexCode     1313
dtype: int64

In [22]:
print ('Min = ', df['Age'].min())
print ('Max = ', df['Age'].max())
print ('Avg = ', df['Age'].mean())
print ('Sum = ', df['Age'].sum())
print ('Count = ', df['Age'].count())

print ('Var = ', df['Age'].var())
print ('Std = ', df['Age'].std())
print ('Median = ', df['Age'].median())
print ('Mode = ', df['Age'].mode())

print ('Skewness = ', df['Age'].skew())
print ('Kurtness = ', df['Age'].kurt())

Min =  0.17
Max =  71.0
Avg =  30.397989417989415
Sum =  22980.88
Count =  756
Var =  203.32047012439133
Std =  14.259048710359023
Median =  28.0
Mode =  0    22.0
dtype: float64
Skewness =  0.36851087371648295
Kurtness =  -0.036536168924722556

In [23]:
## 상관계수 행렬 구하기 
df.corr()

               Age  Survived   SexCode
Age       1.000000 -0.061254 -0.055138
Survived -0.061254  1.000000  0.502891
SexCode  -0.055138  0.502891  1.000000

In [24]:
## 공분산 행렬 구하기 
df.cov()

                 Age  Survived   SexCode
Age       203.320470 -0.430491 -0.382054
Survived   -0.430491  0.225437  0.114070
SexCode    -0.382054  0.114070  0.228230

---
3.8 고유값 찾기
- unique(), value_counts()
---

In [25]:
df['PClass'].unique()

array(['1st', '2nd', '*', '3rd'], dtype=object)

In [26]:
df['PClass'].value_counts()

3rd    711
1st    322
2nd    279
*        1
Name: PClass, dtype: int64

In [27]:
## 모든 컬럼들에 대해서, 각각 몇가지의 unique 값들로 이루어져 있는지 파악할 때 
## 이때 결측치는 계산하지 않는다
df.nunique()

Name        1310
PClass         4
Age           75
Sex            2
Survived       2
SexCode        2
dtype: int64

---
3.9 누락된 값 다루기

---

In [28]:
## NaN을 사용하려면 넘파이가 필요 
import numpy as np

In [29]:
df_a = pd.read_csv(url)
print(df_a[456:457])

## 결측값으로 간주할 것들을 지정한다 
df_b = pd.read_csv(url, na_values= [np.nan, 'NONE', -999, '*'])
print(df_b[456:457])

                    Name PClass  Age   Sex  Survived  SexCode
456  Jacobsohn Mr Samuel      *  NaN  male         0        0
                    Name PClass  Age   Sex  Survived  SexCode
456  Jacobsohn Mr Samuel    NaN  NaN  male         0        0