### Chapter 3.3 - Ex : Boston Housing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Data Source : http://lib.stat.cmu.edu/datasets/boston_corrected.txt
housing = pd.read_csv('data/BostonHousing2.csv')
housing = housing.rename(columns={'CMEDV': 'y'})
housing.head()

,TOWN,LON,LAT,y,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,-70.955,42.2550,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,-70.950,42.2875,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,-70.936,42.2830,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,-70.928,42.2930,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,-70.922,42.2980,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [6]:
## split the dataset 
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

# 학습, 테스트 데이터셋 데이터를 생성합니다.
X = housing[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 
             'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]
y = housing['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)

In [7]:
# 모델을 학습합니다.
lr = linear_model.LinearRegression()
model = lr.fit(X_train, y_train)

In [8]:
# R2 score를 출력합니다.
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7490284664199387
0.7009342135321543

In [9]:
# 각 피처의 계수를 출력합니다.
print(lr.coef_)

[-1.11193551e-01  5.09415195e-02  3.25436161e-02  3.02115825e+00
 -1.54108556e+01  4.04590890e+00 -1.97595267e-03 -1.56114408e+00
  3.27038718e-01 -1.38825230e-02 -8.22151628e-01  8.74659468e-03
 -5.85060261e-01]