### 초보자를 위한 파이썬 300제 
##### https://wikidocs.net/7014

#### <font color = 'yellow'> Part I. Basic Garmmer </font>

In [1]:
## Q) 007, 008 : 구분자를 이용한 출력 
print("naver", "kakao", "samsung", sep=";")
print("naver", "kakao", "samsung", sep="/")

naver;kakao;samsung
naver/kakao/samsung

In [2]:
## Q) 017, 018 : 변수 타입을 변경하고, 이를 타입과 함께 출력하기 
num = 100 
num_str = str(num)
print(num_str, type(num_str))

data = "15.79"
data = float(data)
print(data, type(data))

100 <class 'str'>
15.79 <class 'float'>

In [3]:
## Q-023 : n개씩 건너뛰기 
string = "홀짝홀짝홀짝"   ## '홀'만 출력하라 
string[::2]

'홀홀홀'

In [4]:
## Q-024 : 문자열 뒤집기 
string2 = "PYTHON"
string2[::-1]

'NOHTYP'

In [5]:
## Q-025 : replace 
phone_number = "010-1234-5678"
phone_number_new = phone_number.replace('-', '')
phone_number_new

'01012345678'

In [6]:
## Q-027 : split 
url = "http://sharebook.kr"
url_split = url.split('.')
url_split

['http://sharebook', 'kr']

In [7]:
## Q-035 : 문자열 출력시 % 또는 foramt()의 사용 
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

print('-------------------------------------')

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
-------------------------------------
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [8]:
## Q-043 : capitalize 
a = "hello"
a = a.capitalize()
a

'Hello'

In [9]:
## Q-045, 046 : startswith(), endswith()
file_name = "2020_보고서.xlsx"

a = file_name.startswith(("2021"))
b = file_name.endswith(("xlsx", "xls"))

print(a, b)

False True

In [10]:
## Q-053 : insert()
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키']

In [11]:
## Q-054 : del 
print(movie_rank)
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키']
['닥터 스트레인지', '슈퍼맨', '스플릿']

In [12]:
## Q-066 : join 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

a = "  ".join(interest)
print(a)

b = " / ".join(interest)
print(b)

c = " \n ".join(interest)
print(c)

삼성전자  LG전자  Naver  SK하이닉스  미래에셋대우
삼성전자 / LG전자 / Naver / SK하이닉스 / 미래에셋대우
삼성전자
 LG전자
 Naver
 SK하이닉스
 미래에셋대우

In [13]:
## Q-077 : tuple into list 
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(type(interest))

data = list(interest)
print(type(data))

<class 'tuple'>
<class 'list'>

In [14]:
## Q-080 : range 
a = list(range(1,100,10))
print(a)

b = tuple(range(1,100,10))
print(b)

c = tuple(range(2,100,2)) ## 짝수만 .. 
print(c)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]
(1, 11, 21, 31, 41, 51, 61, 71, 81, 91)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [15]:
## Q-095 : dictionary keys(), vlaues()
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(icecream.keys())
print(icecream.values())

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])
dict_values([1200, 1200, 1800, 1500, 1000])

In [16]:
## Q-099 : zip 
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'apple': 300, 'pear': 250, 'peach': 400}
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

#### <font color = 'yellow'> Part II. if, for </font>

In [17]:
## Q-113, 121 : if / elif / else 
input = 31
if int(input) % 2 == 0 :
    print('짝')
else : 
    print('홀')

####################################    
input = int(200)
if input < 0 : 
    print(0)
elif input > 255 : 
    print(255)
else : 
    print(input - 20)  
    
####################################    
input = 'a'
if input.islower() : 
    print(input.upper())
else: 
    print(input)

홀
180
A

In [18]:
## Q-012 : 환율계산기 
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}

#input = '100 달러'
input = '100 위안'

num, currency = input.split()
print(float(num) * 환율[currency], "원")

17100.0 원

In [19]:
## Q-137 : Basic 'for' usage 
a = [10,20,30,40,50,60,70,80,90]

for i in a : 
    print(i)

10
20
30
40
50
60
70
80
90

In [20]:
## Q-149, 150 : for문에서 slice 사용 
lst = ["가", "나", "다", "라", "마", "바", "사", "아"]

for i in lst[1:] : 
    print(i)

print('------------------')    
    
for i in lst[::2] : 
    print(i)

print('------------------')    

for i in lst[::-1] : 
    print(i)

나
다
라
마
바
사
아
------------------
가
다
마
사
------------------
아
사
바
마
라
다
나
가

In [21]:
## Q-151, 152 : for문에서 if 사용 
lst = [3, -20, -3, 44, 100, 23, 44]

for i in lst : 
    if i < 0 : 
        print(i) 

print('---------------------')       

for i in lst : 
    if (i % 3) == 0 : 
        print(i)

-20
-3
---------------------
3
-3

In [22]:
## Q-158 : 파일확장자 제거하기 
txt = ['hello.py', 'ex01.py', 'intro.hwp']

for i in txt : 
    a = i.split('.')
    print(a[0])

hello
ex01
intro

In [23]:
## Q-166 : 구구단 만들기 
for i in range(10) : 
    a = 3 * (i + 1)
    print("3x", i, '=', a)

3x 0 = 3
3x 1 = 6
3x 2 = 9
3x 3 = 12
3x 4 = 15
3x 5 = 18
3x 6 = 21
3x 7 = 24
3x 8 = 27
3x 9 = 30

In [24]:
## Q-168, 170 : 10~10까지 모두 더하기 or 곱하기
k = 0 
for i in range(1, 11) : 
    k += i 
    print(k)

print('------------------------------')    
    
j = 0 
for i in range(1, 11) : 
    j += i 

print(j)

print('------------------------------')    

x = 1 

for i in range(1, 11) : 
    x *= i 

print(x)

1
3
6
10
15
21
28
36
45
55
------------------------------
55
------------------------------
3628800

In [25]:
## Q-176 : 원소 3개씩 출력하기 
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2) : 
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [26]:
## Q-18 : 변동폭 구하기 
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) : 
    volatility.append(high_prices[i] - low_prices[i])
    
volatility

[50, 100, 30, 80, 0]

In [27]:
## Q-185, 186 : 행렬에 대해 출력하기 
apart = [ [101, 102], 
          [201, 202], 
          [301, 302] ]

for row in apart : 
    for col in row : 
        print(col, '호')
        
print('-------------------')

for row in apart[::-1] : 
    for col in row : 
        print(col, '호')
        
print('-------------------')

for row in apart[::-1] : 
    for col in row : 
        print(col, '호')
    print('='*10)

101 호
102 호
201 호
202 호
301 호
302 호
-------------------
301 호
302 호
201 호
202 호
101 호
102 호
-------------------
301 호
302 호
==========
201 호
202 호
==========
101 호
102 호
==========

In [28]:
## Q-194 : 가격에 부가세 0.014%를 반영한 후, 원래와 같은 3x4 matrix로 저장하라 
price = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

fee = 0.00014

result = []
for row in price : 
    sub = []
    for col in row : 
        sub.append(round(col * (1+fee),2))
    result.append(sub)

result

[[2000.28, 3050.43, 2050.29, 1980.28],
 [7501.05, 2050.29, 2050.29, 1980.28],
 [15452.16, 15052.11, 15552.18, 14902.09]]

#### <font color = 'yellow'> Part III. Function & Module</font>

In [29]:
## Q-204 : 특정 텍스트를 10번 반복 출력하는 함수 만들기
def print_coin() : 
    for i in range(10) : 
        print('bit_coin')

print_coin()

bit_coin
bit_coin
bit_coin
bit_coin
bit_coin
bit_coin
bit_coin
bit_coin
bit_coin
bit_coin

In [30]:
## Q-241 : 현재시각 
import datetime as dt

print('현재시각:', dt.datetime.now())

현재시각: 2021-06-11 19:16:07.313070

In [31]:
## Q-243 : timedelta
ten_days_ago = dt.datetime.now() - dt.timedelta(days = 10)
print('10일전:', ten_days_ago)

thirty_days_ago = dt.datetime.now() - dt.timedelta(days = 30)
print('30일전:', thirty_days_ago)

10일전: 2021-06-01 19:16:07.330074
30일전: 2021-05-12 19:16:07.331071

In [33]:
## Q-249 : 로컬의 파일 이름 변경하기 
import os 

os.rename('D:/old_dummy.txt', 'D:/new_dummy.txt')
#os.rename('D:/new_dummy.txt', 'D:/old_dummy.txt')

In [34]:
## Q-250 : numpy.arange(a, b, k) ~ a부터 b까지 k만큼씩 증가시킨다 
import numpy as np 

for i in np.arange(0, 5, 0.5) : 
    print(round(i,1))

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

#### <font color = 'yellow'> Part IV. Class </font>

In [35]:
## Q-256 : class 선언과 사용 
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")

print(areum.name)
print(areum.age)
print(areum.sex)

아름
25
여자

In [36]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

areum = Human("아름", 25, "여자")
areum.who()

이름: 아름 나이: 25 성별: 여자

In [37]:
## Q-271 : 은행 계좌 개설 프로그램 
#### 이름과 최초입금액을 입력받아, 랜덤 계좌번호를 부여하라 
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

        
customer = Account("Irene", 1000)

print(customer.bank, customer.name, customer.account_number, customer.balance, '원')

SC은행 Irene 543-85-206315 1000 원

In [38]:
## Q-275 : 위 은행 계좌 개설 프로그램에서 입/출금액을 반영하여 잔고를 변경시켜라 
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        
    def deposit(self, amount): 
        if amount > 1 :            # 입금액은 1원 이상이어야 한다 
            self.balance += amount 
            if self.balance >= 1000 : 
                self.balance = (self.balance * 1.01)   ## 잔고 1만원 이상이면 1% 이자 지급
        
    def withdraw(self, amount): 
        if self.balance >= amount : # 출금액은 잔고 이상이 될수 없다
            self.balance -= amount 

######################################################################
customer = Account("Karina", 1000)                

customer.deposit(100)
customer.deposit(100)
customer.deposit(100)
print(customer.bank, customer.name, round(customer.balance,1), 'KRW')

customer.withdraw(200)
customer.withdraw(300)
print(customer.bank, customer.name, round(customer.balance,1), 'KRW')

SC은행 Karina 1336.3 KRW
SC은행 Karina 836.3 KRW